/* SUPPORT FOR HIDDEN CHANNELS */
.container-hidden .name-IbjUBS, .container-hidden .wrapper-1ucjTd .name-3_Dsmg, .container-hidden .icon-WnO6o2{color: var(--CH) !important;}
.container-hidden .wrapper-1ucjTd:hover .content-3at_AU{background: rgba(var(--CH-t), 0.3) !important;}
.container-hidden .wrapper-1ucjTd:hover .name-3_Dsmg {color: #fff !important;}
