// 0 - 8
// 9 - 17
// vars 0 - 8 - repeat/17

//.container-3:hover .muted-1NRuDm .icon-WnO6o2, .container-3:hover .muted-1NRuDm .name-IbjUBS

@for $cts from 0 through 8 {
    .container-#{$cts} {
            .wrapper-1ucjTd .name-3_Dsmg,
            .wrapper-CU3qI5 .name-IbjUBS,
            .wrapper-1ucjTd.modeUnread-1zpFdA .name-3_Dsmg,
			.icon-WnO6o2 {
                color: var(--C#{$cts});
            }
            .modeUnread-1zpFdA .name-3_Dsmg {
                color: var(--C#{$cts}-n);
            }
            .wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU,
            .wrapper-1ucjTd.modeSelected-1zApJ_:hover .content-3at_AU,
            .wrapper-1ucjTd:hover .content-3at_AU,
            .modeSelected-1zApJ_ .content-3at_AU,
            .modeMuted-3osy7j:hover .content-3at_AU,
            .modeLocked-SZJhTy:hover .content-3at_AU {
                background-color: rgba(var(--C#{$cts}-t),var(--bgop));
            }
            .modeLocked-SZJhTy .content-3at_AU .name-3_Dsmg,
            .modeMuted-3osy7j .content-3at_AU .name-3_Dsmg {
                color: var(--C#{$cts}-n);
            }

        // default
         .unread-3zKkbm {
            background: rgba(var(--C#{$cts}-t), 1) !important; box-shadow: 0 0 12px 1px rgba(var(--C#{$cts}-t), 1) !important;
        }
        // muted
         .modeUnread-1zpFdA .unread-3zKkbm {
            background: rgba(var(--C#{$cts}-t), 0.6) !important; box-shadow: 0 0 12px 1px rgba(var(--C#{$cts}-t), 0.6) !important;
        }

			
         .muted-1NRuDm .icon-WnO6o2,
         .muted-1NRuDm .name-IbjUBS {
            color: var(--C#{$cts}-n);
        }
    }
 }
 
// Make all elements on hover color white
.name-3_Dsmg:hover {color: #fff !important;}
